{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h4>Hello {{ user.username }}</h4>
        <h6> Your account has been activated </h6>
        <h6>
            you can now back to <a href="{% url 'index' %}"> Home page</a>
            or manage your profile <a href="{% url 'view_profile' %}"> Profile </a>
        </h6>
    {% else %}
        <h1>The activation is invalid, please register again</h1>
        <h4>If you are in heroku domain, your account might have been activated but not automatic login, please try
            login.!</h4>
    {% endif %}

{% endblock %}