{% extends 'base.html' %}

{% block content %}
    <h1> Hi {{ user.username }}, please change your password here</h1>
    {% include 'commons/messages.html' %}
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary btn-block" type="submit">Save changes</button>
        </form>
    </div>

{% endblock %}