{% extends 'front_page.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <link href="{% static "/css/login.css" %}" rel="stylesheet">
    <script src="{% static "/bootstrap/js/actions.js" %}"></script>

    {#    <div class="modal" id="LoginForm" >#}
    <div class="modal-dialog modal-dialog-centered" role="document">


        <form class="modal-content animate" name="LoginForm" method="post">
            {% csrf_token %}


            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}
            <div class="imgcontainer">
                <img src={% static "/images/logo.jpg" %} alt="logo" class="avatar">
            </div>

            <div class="container">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input class="form-control" type="password" name="password" id="password"
                               placeholder="Password">
                    </div>
                </div>
                <button type="submit btn btn-success">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
            {% if form.errors %}
                <div class="container">
                    <p style="color: red">Your username and password didn't match. Please try again.</p>
                </div>
            {% endif %}
            <div class="container" style="background-color:#f1f1f1">
                <label>New user?</label>
                <span><a href="{% url 'registration' %}">Sign up</a> for the first time.</span>
            </div>
        </form>
    </div>
    {#    </div>#}

{% endblock %}
