{%  extends "base.html" %}
{% block title %}Profile {{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <h1> PROFILE</h1>
        <p>User name : {{ user.username }} </p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.userprofile.phone }}</p>
        <p>Company: {{ user.userprofile.company }}</p>
        <p>Country: {{ user.userprofile.country }}</p>
        <p>City: {{ user.userprofile.city }}</p>
        <p>About you: {{ user.userprofile.description }}</p>
        {% if user.manager %}
            <p>You are an manager.</p>
            <p>You can add or remove other users and view the systems.</p>

        {% elif user.operator. %}
            <p>You are an operator</p>
            <p>You can modify and view the system. A message will be sent to you in case of emergency.</p>

        {% elif user.owner. %}
            <p>You are an owner</p>
            <p>You can choose the number of planting units and see the conditions of the systems.</p>
        {% endif %}

{#        <h3> Update your info here </h3>#}
{#        <form method="post" action="{% url "edit_profile" %}">#}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{##}
{#            <input type="hidden" name="next" value="{{ next }}">#}
{#            <button type="submit" class="btn btn-success ">Save</button>#}
{#        </form>#}
    </div>
{% endblock %}