{% extends 'front_page.html' %}
{% load static %}
{% block title %}Registration{% endblock %}
{% block content %}

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Sign up for a free account</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Select below the type of account you want to create
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <a style="text-decoration:none;" href="{% url 'operator_registration' %}" class="btn btn-info btn-lg" role="button">I'm a operator</a>
                <a style="text-decoration:none;" href="{% url 'manager_registration' %}" class="btn btn-warning btn-lg" role="button">I'm a
                    manager</a>
            </div>

        </div>
    </div>
{% endblock %}
