{% extends 'front_page.html' %}

{% load static %}
{% block title %}Register as Operator {% endblock %}

{% block content %}

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2>Sign up as an Operator </h2>
            </div>

            <form class="modal-content animate" name="Operator" method="post"
                  style="margin: 5% auto 15% auto; padding: 2%; border: none">
                {% csrf_token %}

                <div class="control-group">
                    <label for="{{ form.username.id_for_label }}">
                        Username
                    </label>
                    <input type="text" id="{{ form.username.id_for_label }}"
                           name="{{ form.username.html_name }}"
                           {% if form.username.field.required %}required{% endif %}
                           class="form-control{% if form.username.errors %} is-invalid{% endif %}"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                    {% if form.username.help_text %}
                        <small class="text-muted">
                            {{ form.username.help_text }}
                        </small>
                    {% endif %}
                    {% for err in form.username.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>
                <div class="control-group">
                    <label for="{{ form.email.id_for_label }}">
                        Email
                    </label>
                    <input type="email" id="{{ form.email.id_for_label }}"
                           name="{{ form.email.html_name }}"
                           {% if form.email.field.required %}required{% endif %}
                           class="form-control{% if form.email.errors %} is-invalid{% endif %}"
                           value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                    {% if form.email.help_text %}
                        <small class="text-muted">
                            {{ form.email.help_text }}
                        </small>
                    {% endif %}
                    {% for err in form.email.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>

                <div class="control-group">
                    <label for="{{ form.password1.id_for_label }}">
                        Password
                    </label>
                    <input type="password" id="{{ form.password1.id_for_label }}"
                           name="{{ form.password1.html_name }}"
                           {% if form.password1.field.required %}required{% endif %}
                           class="form-control{% if form.password1.errors %} is-invalid{% endif %}"
                           value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">
                    {% if form.password1.help_text %}
                        <small class="text-muted">
                            Your password must contain at least 8 character
                        </small>
                    {% endif %}
                    {% for err in form.password1.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>


                <div class="control-group">
                    <label for="{{ form.password2.id_for_label }}">
                        Confirm password
                    </label>
                    <input type="password" id="{{ form.password2.id_for_label }}"
                           name="{{ form.password2.html_name }}"
                           {% if form.password2.field.required %}required{% endif %}
                           class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
                           value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">

                    {% if form.password2.help_text %}
                        <small class="text-muted">
                            {{ form.password2.help_text }}
                        </small>
                    {% endif %}
                    {% for err in form.password2.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>

                <br/>

                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="btn btn-success">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}
