h5, .nav-link {
    color: white;
}

html {
    height: 100%;
    box-sizing: border-box;
}

.navbar {
    margin-bottom: 1%;
    background-color: #124169;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

a.dropdown-item {
    text-decoration:none;
    color: black;
}

.nav-link:hover {
    color: white;
    background-color: #5b7ccb;
    border-radius: 3px;
}


body {
    background-size:     cover;
    background: #f3f3f3 repeat-y center center;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

li.nav-item, .nav-link.dropdown-toggle {

    margin: 4px;
}

.footer {
    background-color: #124169;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color : white;
    width: 250px;
}

.navbar-toggler {
    background-color: #555555;
    border-color: white;
}


.sidenav {
  height: 100%; /* 100% Full-h124169eight */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #124169; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FDFDFD;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
    background-color: #5b7ccb;
    border-radius: 3px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}