body {
    background-image: url('../images/insolution_frontpage.jpeg');
    background-size: cover;
}

.logo-btn {
    background-image: url("../images/fadector_logo_inso.png");
    width: 100px;
    height: 50px;
}