
.h1 {
    font-size: 350%;
    text-align: center;
    font-family: "Courier";
    font-weight:bold;
    text-shadow: 4px 4px 10px #111111;
}

.row div p {
    border: 1px solid #999999;
    padding: 2%;
    min-height: 100px;
    box-shadow: 2px 2px 10px black;
    background-color: #EEEEEE;
}

#indicator {
    border: 1px solid #777777;
    box-shadow: 0 0 30px black;
    margin: 25px 0 15px;
}