.collapse {
  display: none;
}

.relative{
    position: relative;
}

.card-buttons {
  display: none;
  position: absolute;
  bottom: 12%;
  left: 21%;
}

.card:hover .card-buttons{
  display: block;
}

.btn-warning {
  color: white;
}

.card {
  box-shadow: 2px 3px 8px;
  margin-bottom: 20%;
}

.card-deck {
  padding-bottom: 100px;
}

.heading .relative{
	font-family: verdana;
	font-size: 300%	
}
