<!-- Draw the basic background header and footer. -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insosmart system</title>
    <link href="{% static "/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/css/base.css" %}" rel="stylesheet">
    <script src="{% static "/libs/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "/libs/jquery.form.js" %}"></script>
    <script src="{% static "/libs/popper.min.js" %}"></script>
    <script src="{% static "/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "libs/plotly-latest.min.js" %}"></script>
</head>
<body>
<div class="sidenav">
    <a class="navbar-brand" href="/"><h2 style="color: white;">Insosmart</h2></a>


    <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if nbar == 'statistics' %}active{% endif %}">
                <a id="planting_room" class="nav-link" href="{% url 'statistic_layout' %}"><h5>Statistics</h5></a>
            </li>
            <li class="nav-item {% if nbar == 'systems' %}active{% endif %}">
                <a id="planting_room" class="nav-link" href="{% url 'manage_systems' %}"><h5>Systems</h5></a>
            </li>
            <li class="nav-item {% if nbar == 'api' %}active{% endif %}">
                <a id="planting_room" class="nav-link" href="{% url 'api' %}"><h5>Api</h5></a>
            </li>

        </ul>
        <div class="navbar-nav mr-auto" style="bottom: 8em; position: fixed;">
            <a href="#userSubMenu" data-toggle="collapse" aria-expanded="false"
               class="dropdown-toggle">{{ user.username }}</a>
            <ul class="collapse list-unstyled" id="userSubMenu">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'view_profile' %}">My profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="text-decoration: #005cbf;"
                       href="{% url 'change_password' %}">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="text-decoration: #005cbf;"
                       href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="container" style="padding-top: 1%">
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</div>
</body>
<div class="footer">
    Created by Long Tran at Insolution Oy. Contact Infomation: long.tran@insolution.fi
</div>
</html>
