{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insosmart</title>
    <meta charset="UTF-8">
    <title>Insosmart system</title>
    <link href="{% static "/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/css/front_page.css" %}" rel="stylesheet">
    <script src="{% static "/libs/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "/libs/jquery.form.js" %}"></script>
    <script src="{% static "/libs/popper.min.js" %}"></script>
</head>
<body>
<a class="logobtn" href="/"><h1 style="color: #4e555b; width: 100%; text-align: center">Insosmart</h1></a>

{% url 'login' as login_url %}
{% url 'registration' as registration_url %}
{% url 'operator_registration' as operator_reg_url %}
{% url 'manager_registration' as manager_reg_url %}
{% if login_url in request.get_full_path  or request.get_full_path == registration_url or request.get_full_path == operator_reg_url or request.get_full_path == manager_reg_url%}
    <div class="container" style="padding-top: 1%">
        {% block content %}
        {% endblock %}
    </div>
{% else %}
    <a role="button" style="text-decoration:none;" class="btn btn-success" href="{% url 'login' %}">Login</a>
{% endif %}


</body>
</html>