{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-md-8 col-sm-10 col-12">
            <h2>Add new game </h2>
            <form action="{% url 'add_system' %}" method="post" id="news-create" class="form">
                {% csrf_token %}

                <div class="control-group">
                    <label for="{{ form.name.id_for_label }}">
                        System name
                    </label>
                    <input type="text" id="{{ form.name.id_for_label }}"
                           name="{{ form.name.html_name }}"
                           {% if form.name.field.required %}required{% endif %}
                           class="form-control{% if form.name.errors %} is-invalid{% endif %}"
                           value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                    {% if form.name.help_text %}
                        <small class="text-muted">
                            {{ form.name.help_text }}
                        </small>
                    {% endif %}
                    {% for err in form.name.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>

                <div class="control-group">
                    <label for="{{ form.system_type.id_for_label }}">Category</label>
                    <select name="{{ form.system_type.html_name }}" class="custom-select" data-title="Select system"
                            data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                        {% for x,y in form.fields.system_type.choices %}
                            <option value="{{ x }}"{% if form.fields.system_type.value == x %}
                                    selected{% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select>
                    {% for err in form.system_type.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>

                <div class="control-group">
                    <label for="{{ form.description.id_for_label }}">
                        Description
                    </label>
                    <textarea id="{{ form.description.id_for_label }}"
                              name="{{ form.description.html_name }}"
                              {% if form.description.field.required %}required{% endif %}
                              class="form-control{% if form.description.errors %} is-invalid{% endif %}">
                {% if form.description.value %}
                    {{ form.description.value }}
                {% endif %}
                </textarea>

                    {% if form.description.help_text %}
                        <small class="text-muted">
                            {{ form.description.help_text }}
                        </small>
                    {% endif %}
                    {% for err in form.description.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>

                {% for error in form.description.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <br/>

                <input type="hidden" name="next" value="{{ next }}">

                <a href="{% url 'manage_systems' %}" class="btn btn-default"> Cancel </a>
                <input type="submit" class="btn btn-primary" value="Save changes"/>
            </form>
        </div>
    </div>
{% endblock %}

