{% extends 'base.html' %}


{% block content %}
  <h2 class="mb-3">Confirm deletion</h2>
  <p class="lead">Are you sure you want to delete your system <strong>"{{ system.name }}"</strong>? There is no going back.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">Yes</button>
    <a href="{% url 'manage_systems' %}" class="btn btn-outline-secondary btn-lg" role="button">No</a>
  </form>
{% endblock %}
