{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-8">
                <h1> {{ system.name }} </h1>
                <h6> {{ system.system_name }}</h6>
                <p> Updated: {{ system.modified_date }}</p>
                <p> Description: <span>{{ system.description }} </span>. </p>

                <div class="container">
                    <div class="row">
                        {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
                        <div class="col-md-12">{{ plot|safe }}</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-bottom: 2%;">
                    <div class="card-header">
                        <h2>Statistics</h2>
                    </div>
                    <div class="card-body">
                        <h3>Number of measurements</h3>
                        <span><strong>{{ measurement_count }}</strong></span>
                    </div>

                    <div class="card-body">
                        {% if user.is_authenticated %}
                            <a href="{% url 'edit_system' system.pk %}" class="btn btn-warning btn-block">Edit
                                system</a>
                            <a href="{% url 'remove_system' system.pk %}" class="btn btn-danger btn-block">Remove
                                system</a>
                            <a href="{% url 'manage_systems' %}" class="btn btn-primary btn-block">Back</a>
                            <button onclick="train_system({{ system.id }})" class="btn btn-warning btn-block">Train
                                system
                            </button>
                            <button onclick="import_system_data({{ system.id }})" class="btn btn-warning btn-block">
                                Import
                                system data
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            },
            error: function (xhr, textStatus, error) {
                console.log(error);
            }
        });

        function train_system(systemId) {
            console.log(systemId);
            $.ajax({
                type: "POST",
                url: "{% url 'train_system' system.id %}",
                success: function (msg) {
                    console.log(msg);
                },
                dataType: "json",
                timeout: 2000
            })
        }

        function import_system_data(systemId) {
            console.log(systemId);
            $.ajax({
                type: "POST",
                url: "{% url 'import_system_data' system.id %}",
                success: function (msg) {
                    console.log(msg);
                },
                dataType: "json",
                timeout: 2000
            })
        }
    </script>
{% endblock %}