{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-md-8 col-sm-10 col-12">
            <h2>Edit System </h2>
            <form method="post" id="edit-system" class="form">
                {% csrf_token %}



                <div class="control-group">
                    <label for="{{ form.description.id_for_label }}">
                        Description
                    </label>
                    <textarea id="{{ form.description.id_for_label }}"
                              name="{{ form.description.html_name }}"
                              rows="5"
                              {% if form.description.field.required %}required{% endif %}
                              class="form-control{% if form.description.errors %} is-invalid{% endif %}">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>

                    {% if form.description.help_text %}
                        <small class="text-muted">
                            {{ form.description.help_text }}
                        </small>
                    {% endif %}
                    {% for err in form.description.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>
                {% for error in form.description.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <br/>


                <input type="hidden" name="next" value="{{ next }}">

                <a href="{% url 'manage_systems' %}" class="btn btn-default"> Cancel </a>
                <input type="submit" class="btn btn-primary" value="Save changes"/>
            </form>
        </div>
    </div>
{% endblock %}

