{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'commons/messages.html' %}
    <link href="{% static "/css/manage_system.css" %}" rel="stylesheet">
    <div class="container-fluid ">

        <div class="row">
            <div class="col-10">
                <h1>Process Systems</h1>
            </div>
            <div class="col">
                <a class="btn btn-primary btn-block" href="{% url 'add_system' %}"> Add </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>System name</th>
                        <th>Description</th>
                        <th>System Type</th>
                        <th>Created date</th>
                        <th>Modified date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sys in system_list %}
                        <tr>
                            <td>{{ sys.name }} </td>
                            <td>{{ sys.description }}</td>
                            <td>{{ sys.system_type }}</td>
                            <td>{{ sys.created_date }}</td>
                            <td>{{ sys.modified_date }}</td>
                            <td>
                                <a href="{% url 'detail_system' sys.pk %}" class="btn btn-info">Detail</a>
                                <a href="{% url 'edit_system' sys.pk %}" class="btn btn-warning">Edit</a>
                                <a href="{% url 'remove_system' sys.pk %}" class="btn btn-danger">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'commons/pagination.html' %}

{% endblock %}