{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible dmessage" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    <script>
        $(document).ready(function () {
            // messages timeout for 10 sec
            setTimeout(function () {
                $('.dmessage').fadeOut('slow');
            }, 3000);
        });
    </script>
{% endfor %}