{% if is_paginated %}
    <div class="text-xs-center">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        {% if search %}
                            <a class="page-link" href="{{ search }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                Prev </a>
                        {% else %}
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                Prev </a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link"><span> Prev </span> </a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active page-item"><a href="#" class="page-link"> <span> {{ i }} <span
                                class="sr-only">(current)</span></span></a></li>
                    {% else %}
                        {% if search %}
                            <li class="page-item"><a class="page-link" href="{{ search }}&page={{ i }}"> {{ i }} </a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}"> {{ i }} </a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    {% if search %}
                        <li class="page-item"><a class="page-link" href="{{ search }}&page={{ page_obj.next_page_number }}">
                            Next </a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            Next </a></li>

                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link"><span> Next </span></a></li>
                {% endif %}
            </ul>

        </nav>
    </div>
{% endif %}