{% extends "base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Carbotec cluster plot</h1>
    </div>
    <div class="container">
        <div class="row">
            <div id="single_plot">{{ plot|safe }}</div>
        </div>
    </div>

    <div class="container">
        <p>
            &nbsp;
        </p>
        <a class="btn btn-primary pull-right" href="{% url 'statistic_layout' %}"> Go back to index...</a>
    </div>


{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

        $(document).ready(function () {
            const plot_div_id = $('#single_plot').children().children().attr('id');
            console.log(plot_div_id)
            const plotly_scatter_div = document.getElementById(plot_div_id);
            console.log(plot_div_id)
            const color_select = '#7b3294';

            plotly_scatter_div.on('plotly_click', function (data) {
                console.log("clicked")
                var pn = '', tn = '', colors = [];

                for (var i = 0; i < data.points.length; i++) {
                    pn = data.points[i].pointNumber;
                    tn = data.points[i].curveNumber;

                    colors = data.points[i].data.marker.color;
                }

                colors[pn] = color_select;

                var update = {
                    'marker': {
                        color: colors,
                        size: 7
                    }
                };

                Plotly.restyle(plotly_scatter_div, update, [tn]);
            });
            var i = 50;
            function poll() {
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'carbotec_cluster_update' %}",
                        data: {
                            first_comp: -500 + i,
                            second_comp: -600 + i,
                        },
                        success: function (data) {
                            i = i + 50
                            //console.log("Updating the data")
                            //console.log(data)
                            const plot_div = $('.plotly-graph-div')[0];
                            // If the new data is an update to the old one
                            const old_data = plotly_scatter_div.data;
                            //console.log(old_data)
                            old_data[0].x = old_data[0].x.concat(data[0].x);
                            old_data[0].y = old_data[0].y.concat(data[0].y);
                            old_data[0].marker.color = old_data[0].marker.color.concat(data[0].marker.color);
                            Plotly.react(plot_div, old_data, plot_div.layout);
                            //console.log(old_data)
                            // Plotly.newPlot(plot_div, data, plot_div.statistics);
                        },
                        dataType: "json",
                        complete: poll,
                        timeout: 2000
                    })
                }, 5000);
            }

            poll()
        });

    </script>
{% endblock %}