{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "/css/layout.css" %}">
<script src="{% static "/bootstrap/js/actions.js" %}"></script>

<div class="container">
  <h1>Integrating PlotLy into DJango</h1>
  <p class="lead">Click on the buttons below to see the examples.</p>
</div>

<div class="container">
  <table class="table table-striped table-hover">
    <tr>
      <td>1D</td>
      <td><a class="btn btn-default" href="{% url 'plot1d' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>2D</td>
      <td><a class="btn btn-default" href="{% url 'plot2d' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>3D</td>
      <td><a class="btn btn-default" href="{% url 'plot3d' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>Random 1D (Ajax)</td>
      <td><a class="btn btn-default" href="{% url 'plot1d_multiple' 1 %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>SANS Iq</td>
      <td><a class="btn btn-default" href="{% url 'plotIq' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>Live Plot 2D</td>
      <td><a class="btn btn-default" href="{% url 'plot_live' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>3D Scatter</td>
      <td><a class="btn btn-default" href="{% url 'plot3d_scatter' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>Carbotec cluster</td>
      <td><a class="btn btn-default" href="{% url 'plot_carbotec_cluster' %}" role="button">View</a></td>
    </tr>
    <tr>
      <td>Carbotec heatmap</td>
      <td><a class="btn btn-default" href="{% url 'plot_carbotec_heatmap' %}" role="button">View</a></td>
    </tr>
  </table>
</div>

    <script>
    const ws = new WebSocket(
      'ws://' + window.location.host + '/ws/statistics/'
    );

    ws.onopen = (event) => {
        var message = { message: 'Hello world'};
        ws.send(JSON.stringify(message));
    }

    const addJoke = (message) => {
      console.log("receive from server: ", message)
    };

    ws.onmessage = (event_) => {
      const message = event_.data;
      addJoke(message);
    };

    ws.onclose = (event_) => {
      console.error('Jokes socket closed');
    }
  </script>
{% endblock %}
